<!-- Displaying Social Media links and Authors-->
<footer>
    <ul class = "footer-list">
      <li class = "footer-elem"><a class = "footer-link" tabindex="0" href="https://www.facebook.com/Los.Pollos.Hermanos.Inc" title="facebook"><i class="fa fa-brands fa-facebook fa-4x"></i></a></li>
      <li class = "footer-elem"><a class = "footer-link" tabindex="0" href="https://twitter.com/eatlospollos" title="twitter"><i class="fa fa-twitter fa-4x"></i></a></li>
      <li class = "footer-elem"><a class = "footer-link" tabindex="0" href="https://www.instagram.com/eatlospolloshermanos/" title="instagram"><i class="fa fa-brands fa-instagram fa-4x"></i></a></li>
    </ul>
    <div class="footer flexCenter">
      <p tabindex="0" class="footer-text">
        CIS1054 - Principles of Web Application Architecture</p>
      <p tabindex="0" class="footer-text">
        Jerome Agius, Matthias Bartolo and Isaac Muscat</p>
    </div>
</footer>
